@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #363636;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main-container {
    background-color: #121214;
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
}

.logo {
    margin-top: 42px;
}

section h1 {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 32px;
    margin-top: 73px;
    margin-bottom: 61px;
}

.profile-container {
    width: 700px;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.img-wrapper {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
}

.img-wrapper:hover {
    border: 2px solid #FFFFFF;
}

.profile img:hover {
    transition: 0.4s;
    transform: scale(1.3);
}

.icon {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E20;
    border-radius: 5px;
}

.icon:hover {
    border: 2px solid white;
}

.icon:hover .round {
    border-color:white;
    color: white;
}

.round {
    width: 53.89px;
    height: 53.89px;
    border: 5.39px solid #6F6F70;
    border-radius: 50%;  
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight:bold;
    font-family:courier;
    color:#6F6F70;
}

.profile .avatar-subtitle {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: #9C9C9C;
    margin-top: 16px;
}

.button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 15px 44px;
    margin-top: 105px;
}

.button:hover {
    transition: 0.4s;
    background-color: #FFFFFF;
    color: black;
}

